<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GreenisSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A518A37A1EAFA8DC008D0EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A518A38E1EAFA8DC008D0EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A518A3991EAFA8DC008D0EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
